# Python
__pycache__/
*.pyc
dist/
src/happy_little_helpers.egg-info

# Virtual Environment
venv/
env/
Pipfile.lock

# IDEs and Editors
.vscode/
.idea/
*.swp
*~

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sqlite3
